
.linear_gradient {
  background: linear-gradient(#263238  , #26a69a );
}

.img_overlay {
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.6)), url(https://images.unsplash.com/photo-1644088379091-d574269d422f?q=80&w=1693&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

.nav_linear {
  background: repeating-linear-gradient( -45deg, #26a69a 40px 60px, #263238);
}


/* doesnt work, set height in html doc
.tech_stack_svg {
  height: 20px;
}
  */