
.linear_gradient {
  background: linear-gradient(#263238  , #26a69a );
}

.img_overlay {
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.6)), url(https://images.unsplash.com/photo-1644088379091-d574269d422f?q=80&w=1693&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

.nav_linear {
  background: repeating-linear-gradient( -45deg, #26a69a 40px 60px, #263238);
}


/* doesnt work, set height in html doc
.tech_stack_svg {
  height: 20px;
}
  */

.flex_container {
  display: flex;
  flex-direction: row;
  padding: 5px;
  overflow-x: auto;
}

/* ul height property Style is afecting the materialize's card class*/
ul {
  max-width: 1280px;
  margin: 0 auto;
  list-style-type: none;
  /*height: 86px;*/
  background-color: none;
  display: flex;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
        
li {
  padding-left: 10px;
}

svg {
  height: 50px;
}

#presentation_card {
  offset-distance: 50px;
}