/*
* {
    text-align: center;
}
*/


/* MADE WITH PENPOT */
html, body {
  margin: 0;
  min-height: 100%;
  min-width: 100%;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

.text-node { background-clip: text !important; -webkit-background-clip: text !important; }

/* Board */
.board-9ec9b9f5525a {
  position: relative;
  background: #868E96;
  overflow: hidden;
  z-index: 0;
}

/* Rectangle */
.rectangle-a02db0b6d611 {
  position: absolute;
  left: 1034px;
  top: 215px;
  width: 525px;
  height: 399px;
  background: #0B7285;
  border: 5px solid #000000;
  border-radius: 0px;
  box-shadow: -5px -5px 4px 0px rgba(0, 0, 0, 0.2), 5px 5px 4px 0px rgba(0, 0, 0, 0.2);
}

/* Rectangle */
.rectangle-a02d8aea4247 {
  position: absolute;
  left: 1315px;
  top: 683px;
  width: 316px;
  height: 162px;
  background: #1C7ED6;
  border: 3px solid #000000;
  border-radius: 0px;
  box-shadow: -20px 15px 4px 0px rgba(0, 0, 0, 0.2);
}

/* Rectangle */
.rectangle-a02d86229ba3 {
  position: absolute;
  left: 964px;
  top: 683px;
  width: 316px;
  height: 162px;
  background: #1864AB;
  border: 3px solid #000000;
  border-radius: 0px;
  box-shadow: -20px 15px 4px 0px rgba(0, 0, 0, 0.2);
}

/* Ellipse */
.ellipse-a02d668bb64c > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(-66px,-66px);
}
.ellipse-a02d668bb64c {
  position: absolute;
  left: 289px;
  top: 140px;
  width: 640px;
  height: 624px;
  border-radius: 50%;
}